# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
.pip-selfcheck.json

# Virtual Environment
venv/
ENV/
env/

# Environments
.env
.env.shared

# Database
backend/database/db.sqlite
db.sqlite
instance/

# VS Code / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
